.info {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-header {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
  }
  
  .info-block {
    padding: 1rem 0;
  }
  
  .type {
    padding: 1rem 0;
  }
  
  .type p {
    padding: 0.5rem 0;
  }
  
  .grass {
    background-color: rgb(32, 131, 40);
    color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.1rem 0.4rem;
    margin: 0 0.4rem 0 0;
  }
  
  .poison {
    background-color: #602894;
    color: #ffffff;
    border-radius: 0.4rem;
    padding: 0.1rem 0.4rem;
  }
  
  .link {
    padding: 0.2rem;
    color: #1932c4;
  }